<div class="logo_sections">
  <div class="center">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'html.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'css.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'js.png', height: '125px' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'jquery.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'ruby.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'rails.png', height: '125px' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'mysql.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'post.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'redis.png', height: '125px' %>
      </div>
    </div>
        <div class="row">
      <div class="col-md-4">
        <%= image_tag 'git.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'rabbit.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'sidekiq.png', height: '125px' %>
      </div>
    </div>
  </div>
</div>